
{% if user.is_authenticated %}
  Welcome, {{ user.email }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signupcustomer' %}">Sign Up as A Customer</a>
  <a href="{% url 'signupcompany' %}">Sign Up as A Company</a>

{% endif %}
<a href="{% url 'home' %}">Back to home</a>
<br><br>
{% if user.is_authenticated and not user.is_company %}
<a href="{% url 'cart_view' %}">View cart </a>
{% endif %}