{% extends '_base.html' %}

<h1> This is the product detail </h1>
<ol>
{% block content %}
{% if user.is_authenticated and user.is_company %}
<a href="{% url 'new' %}"> Add new </a>
{% endif %}

<li>{{ product.title }} {{ product.descrip }} <img src="{{ product.image.url }}" height="50px" width="50px"></img> {{ product.cost }}  
	{% ifequal user product.publisher %}
	<a href="{% url 'product_edit' slug=product.slug %}">Change something</a> 
	{% endifequal %}
	{% if user.is_authenticated and not user.is_company %}
	{% if not flag %}
	<form action="{% url 'addtocart' slug=product.slug %}" method='POST'>
	{% csrf_token %}
	
	<button type='submit'> Add to cart</button>
	</form>	
	{% else %}
	Already in cart.
	{% endif %}
	{% endif %}
</li>

</ol>
{% endblock %}